*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: radial-gradient(circle at -4.17% 4.55%, #dfb033 0, #e8a62f 7.14%, #ef9a2e 14.29%, #f68e2f 21.43%, #fb7f32 28.57%, #fe6e36 35.71%, #ff5a3c 42.86%, #ff4242 50%, #fd1f4a 57.14%, #fa0054 64.29%, #f50060 71.43%, #ef006d 78.57%, #e6007c 85.71%, #db008c 92.86%, #cd009d 100%);
}
.corazon{
    height: 150px;
    width: 150px;
    background: red;
    position: relative;
    transform: rotate(45deg);
    box-shadow: -20px 20px 150px red;
    animation: palpitar 0.5s linear infinite alternate;
}
@keyframes palpitar{
    0%{transform: rotate(45deg) scale(1.10);}
    80%{transform: rotate(45deg scale(1.0));}
    100%{transform: rotate(45deg) scale(0.8);}
}
@keyframes palpitartex{
    0%{transform: rotate(0deg) scale(1.10);}
    80%{transform: rotate(0deg scale(1.0));}
    100%{transform: rotate(0deg) scale(0.8);}
}
.corazon::before{
    content:  "";
    position: absolute;
    height: 150px;
    width: 150px;
    background: red;
    right: 50%;
    border-radius: 50%;
    box-shadow: 20px 20px 150px #f20044;
}
.corazon::after{
    content:  "";
    position: absolute;
    height: 150px;
    width: 150px;
    background: red;
    top: -50%;
    border-radius: 50%;
    box-shadow: 20px 20px 150px #f20044;
}
.texto{
    position: fixed;
    margin-bottom: 50px;
    text-align: center;
}
h1{
    color: aliceblue;
    animation: palpitartex 0.5s linear infinite alternate;
}